
{% extends 'Events/base.html' %}

{% block content %}
{% load static %}
{% load custom_tags %}

<!-- Upcoming events -->
<h3 align="center">List of events happening this month in <mark style="background-color:yellow">Civil department 
</mark><br><br>( {% now "F Y" %} ) </h3>

<br/><br/>
<h5>Upcoming events</h5>
{% if civilec == 0 %}
    <div class = "content-section">
      <center>
        <h5 style="color:red;" class="blink_me">No upcoming events !!</h5>
      </center>
    </div>
    {% else %}
<div style="overflow-x: scroll; overflow-y:scroll; height:500px;" class = "content-section">
  <div class = "card-columns">
   
    {% for civil in civil_event_data %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ civil.banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-capitalize">Event type: {{ civil.eventtype }}</h5>
          <p class="card-text">{{ civil.eventtype }} Name: {{ civil.name }}</p>

          {% time_in_range civil.start_time civil.end_time ct as civil_status %}
          {% if civil.date == cd %}

          {% if civil_status != "inactive" %}
          
          <font style="color:green"><i class="fa fa-circle blink_me"></i></font>&nbsp;<font style="color:green;" class = "card-text">{{ civil_status }}</font></font>
          <br><br>

          {% endif %}

          {% endif %}

          <a href="/{{ civil.eventtype|lower|cut:" " }}-details/{{ civil.pk }}/" class="btn btn-primary">View details</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Conducted by department of {{ civil.department }} on {{ civil.date }}</small>
        </div>
      </div>
    {% endfor %}

</div>
<br/>
</div>
{% endif %}


<!-- upcoming events end -->


<!-- Past events -->

<h5>Past events</h5>
{% if civilecp == 0 %}
    <div class = "content-section">
      <center>
        <h5 style="color:red;" class="blink_me">No past event record !!</h5>
      </center>
    </div>
    {% else %}
<div style="overflow-x: scroll; overflow-y:scroll; height:500px;" class = "content-section">
  <div class = "card-columns">
  
    {% for civil_p in civil_event_data_p %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ civil_p.banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-capitalize">Event type: {{ civil_p.eventtype }}</h5>
          <p class="card-text">{{ civil_p.eventtype }} Name: {{ civil_p.name }}</p>
          <a href="/{{ civil_p.eventtype|lower|cut:" " }}-details/{{ civil_p.pk }}/" class="btn btn-primary">View details</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Conducted by department of {{ civil_p.department }} on {{ civil_p.date }}</small>
        </div>
      </div>
    {% endfor %}
  

</div>
</div>
{% endif %}
<!-- past events end -->





<!-- <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-wwyi" class="countdown-timer" data-timezone="Asia/Kolkata" data-date="2022-09-09 00:00">Countdown</a> -->


{% endblock content %}

