
{% extends 'Events/base.html' %}

{% block content %}
{% load static %}
{% load custom_tags %}


<!-- Upcoming events -->
<h3 align="center">List of events happening this month in <mark style="background-color:yellow">CS department 
</mark><br><br>( {% now "F Y" %} ) </h3>

<br/><br/>
<h5>Upcoming events</h5>
{% if csec == 0 %}
    <div class = "content-section">
      <center>
        <h5 style="color:red;" class="blink_me">No upcoming events !!</h5>
      </center>
    </div>
    {% else %}
<div style="overflow-x: scroll; overflow-y:scroll; height:500px;" class = "content-section">
  <div class = "card-columns">
   
    {% for cs in cs_event_data %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ cs.banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-capitalize">Event type: {{ cs.eventtype }}</h5>
          <p class="card-text">{{ cs.eventtype }} Name: {{ cs.name }}</p>

          {% time_in_range cs.start_time cs.end_time ct as cs_status %}
          {% if cs.date == cd %}

          {% if cs_status != "inactive" %}
          
          <font style="color:green"><i class="fa fa-circle blink_me"></i></font>&nbsp;<font style="color:green;" class = "card-text">{{ cs_status }}</font></font>
          <br><br>

          {% endif %}

          {% endif %}

          <a href="/{{ cs.eventtype|lower|cut:" " }}-details/{{ cs.pk }}/" class="btn btn-primary">View details</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Conducted by department of {{ cs.department }} on {{ cs.date }}</small>
        </div>
      </div>
    {% endfor %}

</div>
<br/>
</div>
{% endif %}


<!-- upcoming events end -->


<!-- Past events -->

<h5>Past events</h5>
{% if csecp == 0 %}
    <div class = "content-section">
      <center>
        <h5 style="color:red;" class="blink_me">No past event record !!</h5>
      </center>
    </div>
    {% else %}
<div style="overflow-x: scroll; overflow-y:scroll; height:500px;" class = "content-section">
  <div class = "card-columns">
  
    {% for cs_p in cs_event_data_p %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ cs_p.banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-capitalize">Event type: {{ cs_p.eventtype }}</h5>
          <p class="card-text">{{ cs_p.eventtype }} Name: {{ cs_p.name }}</p>
          <a href="/{{ cs_p.eventtype|lower|cut:" " }}-details/{{ cs_p.pk }}/" class="btn btn-primary">View details</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Conducted by department of {{ cs_p.department }} on {{ cs_p.date }}</small>
        </div>
      </div>
    {% endfor %}
  

</div>
</div>
{% endif %}
<!-- past events end -->





<!-- <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-wwyi" class="countdown-timer" data-timezone="Asia/Kolkata" data-date="2022-09-09 00:00">Countdown</a> -->


{% endblock content %}

