
{% extends 'Events/base.html' %}

{% block content %}
{% load static %}
{% load custom_tags %}


<!-- Upcoming events -->
<h3 align="center">List of events happening this month in <mark style="background-color:yellow">IT department 
</mark><br><br>( {% now "F Y" %} ) </h3>

<br/><br/>
<h5>Upcoming events</h5>
{% if iec == 0 %}
    <div class = "content-section">
      <center>
        <h5 style="color:red;" class="blink_me">No upcoming events !!</h5>
      </center>
    </div>
    {% else %}
<div style="overflow-x: scroll; overflow-y:scroll; height:500px;" class = "content-section">
  <div class = "card-columns">
   
    {% for i_t in i_event_data %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ i_t.banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-capitalize">Event type: {{ i_t.eventtype }}</h5>
          <p class="card-text">{{ i_t.eventtype }} Name: {{ i_t.name }}</p>

          {% time_in_range i_t.start_time i_t.end_time ct as i_t_status %}
          {% if i_t.date == cd %}

          {% if i_t_status != "inactive" %}
          
          <font style="color:green"><i class="fa fa-circle blink_me"></i></font>&nbsp;<font style="color:green;" class = "card-text">{{ i_t_status }}</font></font>
          <br><br>

          {% endif %}

          {% endif %}

          <a href="/{{ i_t.eventtype|lower|cut:" " }}-details/{{ i_t.pk }}/" class="btn btn-primary">View details</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Conducted by department of {{ i_t.department }} on {{ i_t.date }}</small>
        </div>
      </div>
    {% endfor %}

</div>
<br/>
</div>
{% endif %}


<!-- upcoming events end -->


<!-- Past events -->

<h5>Past events</h5>
{% if iecp == 0 %}
    <div class = "content-section">
      <center>
        <h5 style="color:red;" class="blink_me">No past event record !!</h5>
      </center>
    </div>
    {% else %}
<div style="overflow-x: scroll; overflow-y:scroll; height:500px;" class = "content-section">
  <div class = "card-columns">
  
    {% for i_t_p in i_event_data_p %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ i_t_p.banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-capitalize">Event type: {{ i_t_p.eventtype }}</h5>
          <p class="card-text">{{ i_t_p.eventtype }} Name: {{ i_t_p.name }}</p>
          <a href="/{{ i_t_p.eventtype|lower|cut:" " }}-details/{{ i_t_p.pk }}/" class="btn btn-primary">View details</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Conducted by department of {{ i_t_p.department }} on {{ i_t_p.date }}</small>
        </div>
      </div>
    {% endfor %}
  

</div>
</div>
{% endif %}
<!-- past events end -->





<!-- <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-wwyi" class="countdown-timer" data-timezone="Asia/Kolkata" data-date="2022-09-09 00:00">Countdown</a> -->


{% endblock content %}

